# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# Ignore any authentication tokens
src/scheduling/hospital_email_pipeline/email_profiles/edward.json
src/token/access_token.json

# testing
/coverage

# production
/build
/excel_test

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env
.claude
