/* ################################################# */
/* Main Page Layout */
/* ################################################# */
.management-home-page {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  overflow-x: hidden; /* Content is clipped (cut off) and not visible beyond the container. No scrollbars are added. */
}

.management-home-page:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-image: url("../images/login-background-img.jpg"); */
  background-color: #d8e6ff;
  background-position: center;
  opacity: 0.6;
  z-index: -1;
}

/* ################################################# */
/* Filter Section (General) */
/* ################################################# */
.filter-section {
  width: 15%;
  max-width: 400px;
  max-height: 680px;
  margin-left: 50px;
  padding: 20px;
  background-color: white;
  opacity: 0.95;
  z-index: 1;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  font-weight: 500;
  margin-top: 30px;
  margin-right: -50px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.filter-section label {
  display: block;
  font-size: 14px;
  color: #0083ca;
  font-weight: 600;
  margin-bottom: 2px;
}

.filter-section input {
  width: 100%;
  padding: 10px;
  margin-bottom: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
  box-sizing: border-box;
  font-weight: 500;
}

/* ################################################# */
/* Filter Section (Buttons)*/
/* ################################################# */
.filter-button,
.reset-button,
.school-filter-buttons button {
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 12px;
  cursor: pointer;
  background-color: #ccc;
  color: #666;
  border: none;
  border-radius: 4px;
  font-weight: 500;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.reset-button {
  background-color: #0083ca !important;
  color: white !important;
}

.reset-button:hover {
  background-color: #006ea1;
}

.filter-button.button-grey,
.school-filter-buttons button {
  background-color: #ccc !important;
}

.filter-button.button-blue {
  background-color: #0083ca !important;
}

.filter-button.button-blue:hover {
  background-color: #006ea1 !important;
}

.filter-button.button-grey:hover,
.school-filter-buttons button:hover {
  background-color: #999 !important;
}

.school-filter-buttons button.active,
.filter-button.button-blue:hover {
  color: white;
  background-color: #0083ca !important;
}

/* ################################################# */
/* Data Table (General)*/
/* ################################################# */
.table-container {
  width: 87%;
  max-width: 1100px;
  max-height: 550px;
  overflow-x: auto; /* Enable horizontal scrolling */
  overflow-y: auto; /* Enable vertical scrolling */
  background-color: white;
  opacity: 0.9;
  z-index: 1;
  margin-top: 30px;
  margin-left: 100px;
  white-space: nowrap;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.data-table {
  width: max-content;
  border-collapse: collapse;
  table-layout: auto; /* Use auto for flexible column widths */
  font-size: 14px;
  font-weight: 500;
}

/* ################################################# */
/* Data Table (Rows)*/
/* ################################################# */
.data-table th,
.data-table td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
  height: 20px; /* Set a consistent height for each row */
  overflow: hidden; /* Ensures no content overflow */
  white-space: nowrap; /* Prevents text from wrapping */
  text-overflow: ellipsis; /* Adds ellipsis if the text overflows */
  font-weight: 500;
  font-size: 14px;
}

/* Hovering over rows */
.data-table tr:hover {
  background-color: #b7e0ff !important; /* Force hover color to override other background styles */
  transition: background-color 0.3s ease;
}

/* "No" Column */
th:first-child,
td:first-child {
  width: 3%;
  text-align: center;
}

/* Alternate Rows Highlight */
.data-table tr:nth-child(even) {
  background-color: #E0F7FA;
}

/* ################################################# */
/* Data Table (Header)*/
/* ################################################# */
.data-table thead tr:first-of-type th {
  position: sticky;
  top: -1px;
  background-color: #f2f2f2;
  z-index: 2;
  font-size: 14px;
  color: #0083ca;
  border: 1px solid #ddd;
  text-align: center;
  height: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  font-weight: 600;
}
/* Second header row (sub-headers) */
.data-table thead tr:nth-of-type(2) th {
  position: sticky;
  top: 40px;
  background-color: #f2f2f2;
  z-index: 2;
  font-size: 14px;
  color: #0083ca;
  border: 1px solid #ddd;
  text-align: center;
  height: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  font-weight: 500;
}

.sort-icon {
  margin-left: 8px;
  font-size: 14px;
  opacity: 0.6;
  font-weight: 500;
}

.sort-asc .sort-icon::before {
  content: "▲";
}

.sort-desc .sort-icon::before {
  content: "▼";
}

.data-table th.sorted-asc {
  background-color: #006699;
  color: white;
  font-weight: 500;
}

.data-table th.sorted-desc {
  background-color: #006699;
  color: white;
  font-weight: 500;
}

.data-table th:hover {
  background-color: #0083ca;
  color: white;
  font-weight: 500;
}

/* ################################################# */
/* Entries Per Page (General) */
/* ################################################# */
.entries-per-page {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  width: 100%;
  overflow-y: auto;
  background-color: transparent;
  opacity: 0.9;
  z-index: 1;
  border-radius: 5px;
}

.entries-per-page label,
.file-upload-label {
  margin-right: 10px;
  font-size: 16px;
  color: #555;
  font-weight: 500;
  color: #0083ca;
}

.entries-per-page select:hover {
  background-color: #006699;
}

.entries-per-page select:focus {
  outline: none;
}

/* ################################################# */
/* Entries Per Page (Buttons) */
/* ################################################# */
.entries-per-page-button {
  width: 50px;
  margin-right: 5px;
  padding: 10px;
  font-size: 14px;
  cursor: pointer;
  background-color: #ccc;
  color: #666;
  border: none;
  border-radius: 4px;
  font-weight: 500;
}

.entries-per-page-button-grey {
  background-color: #ccc;
  color: #666;
}
.button-grey:hover {
  background-color: #999;
}

.button-blue {
  background-color: #0083ca;
  color: white;
}

.button-blue:hover {
  background-color: #006699; /* Darker blue on hover */
}

.entries-per-page-input {
  width: 15%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px; /* Increased from 12px */
  box-sizing: border-box;
  font-weight: 500;
  margin-right: 10px;
}

/* ################################################# */
/* Pagination White Div */
.pagination-background {
  width: 87%;
  overflow-y: auto;
  background-color: white;
  opacity: 0.9;
  z-index: 1;
  margin-top: 20px;
  margin-left: 100px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
/* ################################################# */

/* ################################################# */
/* Pagination (General) */
/* ################################################# */
.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  width: 100%;
  z-index: 1;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.current-page {
  margin-right: 30px;
  font-size: 14px;
  color: black;
  margin-bottom: 20px;
  font-weight: 500;
}

.pagination button,
.homepg-download-button,
.submit-file-button,
.add-dr-button {
  width: 100px;
  margin-right: 10px;
  padding: 10px;
  font-size: 14px;
  cursor: pointer;
  background-color: #0083ca;
  color: white;
  border: none;
  border-radius: 4px;
  font-weight: 500;
  margin-bottom: 10px;
}

.submit-file-button,
.add-dr-button {
  background-color: #72bf78 !important;
}

.pagination button:disabled {
  cursor: not-allowed;
  opacity: 1;
  background-color: #ccc;
  color: #666;
}

.homepg-download-button:hover {
  background-color: #006699;
}

.pagination button:hover {
  background-color: #999;
}
.csv-link {
  color: white;
  text-decoration: none;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  font-weight: 500;
}

/* ################################################# */
/* Miscellaneous */
/* ################################################# */

.bi {
  margin-left: 5px;
  font-size: 14px;
  vertical-align: middle;
}

.greyed-out td {
  opacity: 0.5;
  text-decoration: line-through !important;
}
