/* ################################################# */
/* Main Page Layout */
/* ################################################# */
.management-home-page {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  overflow-x: hidden;
  box-sizing: border-box;
}

.management-home-page:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #d8e6ff;
  background-position: center;
  opacity: 0.6;
  z-index: -1;
}

/* ################################################# */
/* Filter Section (General) */
/* ################################################# */
.filter-section,
.school-filter-button-section {
  width: 100%;
  max-width: 300px;
  padding: 20px;
  margin-top: 30px;
  background-color: white;
  opacity: 0.95;
  z-index: 1;
  display: flex;
  flex-direction: column;
  font-weight: 500;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.filter-section {
  margin-left: 50px;
  margin-right: -30px;
}

.school-filter-button-section {
  margin-left: 50px;
  margin-right: -80px;
}

.filter-section label,
.school-filter-button-section label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 500;
  color: #0083ca;
}

.filter-section h4,
.school-filter-button-section h4 {
  position: sticky;
  top: -1px;
  z-index: 2;
  font-size: 14px;
  color: #0083ca;
  text-align: center;
  height: 25px;
  cursor: pointer;
  font-weight: 600;
}

.filter-section input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
  box-sizing: border-box;
}

/* ################################################# */
/* Filter Section (Buttons)*/
/* ################################################# */

/* Inactive Button */
.filter-button,
.reset-button,
.school-filter-buttons button,
.entries-per-page-button,
.pagination button,
.homepg-download-button,
.submit-file-button,
.add-dr-button {
  width: 100%;
  height: 45px;
  margin-bottom: 15px;
  padding: 5px;
  background-color: #ccc; /* Neutral grey */
  color: #666; /* Darker text color */
  font-size: 14px;
  font-weight: 500;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* Hovered (Inactive) */
.filter-button:hover,
.reset-button:hover,
.school-filter-buttons button:hover,
.entries-per-page-button:hover,
.pagination button:hover,
.homepg-download-button:hover,
.submit-file-button:hover,
.add-dr-button:hover {
  background-color: #999999; /* Darker grey on hover */
}

/* Active Button */
.filter-button.button-blue,
.reset-button.active,
.school-filter-buttons button.active,
.entries-per-page-button.active,
.pagination button.active,
.homepg-download-button.active,
.submit-file-button.active,
.add-dr-button.active {
  background-color: #0083ca; /* Vibrant blue */
  color: white; /* White text */
}

/* Hovered (Active) */
.filter-button.button-blue:hover,
.reset-button.active:hover,
.school-filter-buttons button.active:hover,
.entries-per-page-button.active:hover,
.pagination button.active:hover,
.homepg-download-button.active:hover,
.submit-file-button.active:hover,
.add-dr-button.active:hover {
  background-color: #006ea1; /* Darker blue on hover */
}

/* ################################################# */
/* Data Table (General)*/
/* ################################################# */
.table-container {
  width: 87%;
  max-width: 1000px;
  max-height: 500px;
  margin-top: 30px;
  margin-left: 100px;
  overflow: auto;
  background-color: white;
  opacity: 0.9;
  border-radius: 5px;
  z-index: 1;
  white-space: nowrap;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.data-table {
  width: max-content;
  border-collapse: collapse;
  font-size: 14px;
  font-weight: 500;
}

/* ################################################# */
/* Data Table (Rows)*/
/* ################################################# */
.data-table th,
.data-table td {
  height: 20px;
  padding: 8px;
  border: 1px solid #ccc;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.data-table tr:hover {
  background-color: #b7e0ff !important;
  transition: background-color 0.3s ease;
}
.data-table tr:nth-child(even) {
  background-color: #e0f7fa;
}
.data-table thead tr:first-of-type th,
.data-table thead tr:nth-of-type(2) th {
  position: sticky;
  top: 0;
  background-color: #f2f2f2;
  color: #0083ca;
  font-size: 14px;
  font-weight: 500;
  z-index: 2;
  cursor: pointer;
  border: 1px solid #ddd;
  text-align: center;
}
.data-table thead tr:first-of-type th {
  top: -1px;
  height: 25px;
  font-weight: 600;
}

.data-table thead tr:nth-of-type(2) th {
  top: 40px;
  height: 30px;
}
.sort-icon {
  margin-left: 8px;
  font-size: 14px;
  opacity: 0.6;
}

.sort-asc .sort-icon::before {
  content: "▲";
}

.sort-desc .sort-icon::before {
  content: "▼";
}

.data-table th.sorted-asc,
.data-table th.sorted-desc {
  background-color: #006699;
  color: white;
}

.data-table th:hover {
  background-color: #0083ca;
  color: white;
}

/* ################################################# */
/* Data Table (Header)*/
/* ################################################# */
.data-table thead tr:first-of-type th {
  position: sticky;
  top: -1px;
  background-color: #f2f2f2;
  z-index: 2;
  font-size: 14px;
  color: #0083ca;
  border: 1px solid #ddd;
  text-align: center;
  height: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  font-weight: 600;
}
/* Second header row (sub-headers) */
.data-table thead tr:nth-of-type(2) th {
  position: sticky;
  top: 40px;
  background-color: #f2f2f2;
  z-index: 2;
  font-size: 14px;
  color: #0083ca;
  border: 1px solid #ddd;
  text-align: center;
  height: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  font-weight: 500;
}

.sort-icon {
  margin-left: 8px;
  font-size: 14px;
  opacity: 0.6;
  font-weight: 500;
}

.sort-asc .sort-icon::before {
  content: "▲";
}

.sort-desc .sort-icon::before {
  content: "▼";
}

.data-table th.sorted-asc {
  background-color: #006699;
  color: white;
  font-weight: 500;
}

.data-table th.sorted-desc {
  background-color: #006699;
  color: white;
  font-weight: 500;
}

.data-table th:hover {
  background-color: #0083ca;
  color: white;
  font-weight: 500;
}

/* ################################################# */
/* Entries Per Page (General) */
/* ################################################# */
.entries-per-page {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  width: 100%;
  overflow-y: auto;
  background-color: transparent;
  opacity: 0.9;
  z-index: 1;
  border-radius: 5px;
}

.entries-per-page label,
.file-upload-label {
  margin-right: 10px;
  font-size: 16px;
  color: #555;
  font-weight: 500;
  color: #0083ca;
}

.entries-per-page select:hover {
  background-color: #006699;
}

.entries-per-page select:focus {
  outline: none;
}

/* ################################################# */
/* Entries Per Page (Buttons) */
/* ################################################# */
.entries-per-page-button {
  width: 50px;
  margin-right: 5px;
  padding: 10px;
  font-size: 14px;
  cursor: pointer;
  background-color: #ccc;
  color: #666;
  border: none;
  border-radius: 4px;
  font-weight: 500;
}

.entries-per-page-button-grey {
  background-color: #ccc;
  color: #666;
}
.button-grey:hover {
  background-color: #999;
}

.button-blue {
  background-color: #0083ca;
  color: white;
}

.button-blue:hover {
  background-color: #006699; /* Darker blue on hover */
}

.entries-per-page-input {
  width: 15%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px; /* Increased from 12px */
  box-sizing: border-box;
  font-weight: 500;
  margin-right: 10px;
}

/* ################################################# */
/* Pagination White Div */
.pagination-background {
  width: 87%;
  overflow-y: auto;
  background-color: white;
  opacity: 0.9;
  z-index: 1;
  margin-top: 20px;
  margin-left: 100px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
/* ################################################# */

/* ################################################# */
/* Pagination (General) */
/* ################################################# */
.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  width: 100%;
  z-index: 1;
  border-radius: 5px;
}

.current-page {
  margin-right: 30px;
  font-size: 14px;
  color: black;
  margin-bottom: 20px;
  font-weight: 500;
}

.pagination button,
.homepg-download-button,
.submit-file-button,
.add-dr-button {
  width: 100px;
  margin-right: 10px;
  padding: 10px;
  font-size: 14px;
  cursor: pointer;
  background-color: #0083ca;
  color: white;
  border: none;
  border-radius: 4px;
  font-weight: 500;
  margin-bottom: 10px;
}

.submit-file-button,
.add-dr-button {
  background-color: #72bf78 !important;
}

.pagination button:disabled {
  cursor: not-allowed;
  opacity: 1;
  background-color: #ccc;
  color: #666;
}

.homepg-download-button:hover {
  background-color: #006699;
}

.pagination button:hover {
  background-color: #999;
}
.csv-link {
  color: white;
  text-decoration: none;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  font-weight: 500;
}

/* ################################################# */
/* Miscellaneous */
/* ################################################# */

.bi {
  margin-left: 5px;
  font-size: 14px;
  vertical-align: middle;
}

.greyed-out td {
  opacity: 0.5;
  text-decoration: line-through !important;
}
