/* Main Page Layout */
.management-home-page {
  width: 100vw;
  min-height: 100vh; /* Use min-height instead of height */
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding: 10px;
}

.management-home-page:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; /* Cover the full height */
  background-image: url("../images/login-background-img.jpg");
  background-repeat: no-repeat; /* Ensure no repetition */
  background-size: cover; /* Cover the entire container */
  background-position: center; /* Center the background image */
  opacity: 0.6;
  z-index: -1;
}

/* Filter Section */
.filter-section {
  width: 100%;
  height: 100%;
  padding: 20px;
  background-color: white;
  opacity: 0.9;
  z-index: 1;
  border-right: 1px solid #ddd;
  margin: 10px;
  margin-left: 100px;
  margin-right: -50px;
  display: flex;
  flex-direction: column;
}

.filter-section h3 {
  font-size: 14px;
  color: #0083ca;
  text-align: left; /* Aligning left to match column alignment */
  margin-bottom: 20px; /* Spacing under the "Filter" heading */
}

.filter-section label {
  display: block;
  margin-bottom: 3px;
  font-size: 12px;
  color: #0083ca;
}

.filter-section input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 12px;
  box-sizing: border-box;
}

.reset-button {
  width: 100%;
  padding: 10px;
  font-size: 12px !important;
  background-color: #0083ca;
  color: white;
  border: none;
  border-radius: 4px;
}

.reset-button:hover {
  background-color: #006699;
}

/* Table Container */
.table-container {
  width: 80%;
  max-height: 550px;
  overflow-y: auto; /* This allows the table to scroll vertically */
  background-color: white;
  opacity: 0.9;
  z-index: 1;
  margin-top: 10px;
  margin-left: 100px;
}

.entries-per-page {
  width: 80%;
  overflow-y: auto;
  background-color: transparent;
  opacity: 0.9;
  z-index: 1;
  margin-top: 10px;
  margin-left: 100px;
  display: flex;
  justify-content: center;
  align-items: center; /* Ensures the label and select dropdown are vertically aligned */
  font-size: 12px;
}

.entries-per-page label {
  margin-right: 10px; /* Add space between label and dropdown */
  font-size: 12px; /* Make sure the font size matches the select dropdown */
  color: #555;
}

.entries-per-page select {
  padding: 10px;
  font-size: 12px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #0083ca; /* Button color */
  color: white; /* Text color to match the buttons */
  cursor: pointer;
}

.entries-per-page select:hover {
  background-color: #006699; /* Darken on hover to match button hover effect */
}

.entries-per-page select:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(0, 131, 202, 0.5); /* Add focus effect */
}

.data-table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  font-size: 12px;
}

.data-table th,
.data-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
  height: 30px; /* Set a consistent height for each row */
  overflow: hidden; /* Ensures no content overflow */
  white-space: nowrap; /* Prevents text from wrapping */
  text-overflow: ellipsis; /* Adds ellipsis if the text overflows */
}

/* Making the first column "no" thinner */
th:first-child,
td:first-child {
  width: 3%;
  text-align: center;
}

/* Sticky Table Headers */
.data-table th {
  position: sticky;
  top: 0;
  background-color: #f2f2f2; /* Ensure the background doesn't turn transparent */
  z-index: 2; /* Make sure it stays above the table rows */
  font-size: 14px;
  color: #0083ca;
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
  height: 50px;
}

.data-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.data-table tr:hover {
  background-color: #ddd;
}

/* Pagination */
.current-page {
  margin-right: 50px;
  font-size: 12px;
  color: black;
  margin-bottom: 20px;
}

.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  width: 100%;
  z-index: 1;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap; /* Prevent text wrapping */
}
/* New styles for the pagination background */
.pagination-background {
  width: 80%;
  overflow-y: auto;
  background-color: white;
  opacity: 0.9;
  z-index: 1;
  margin-top: 10px;
  margin-left: 100px;
}

.pagination button,
.download-button {
  width: 100px;
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 10px;
  font-size: 12px;
  cursor: pointer;
  background-color: #0083ca;
  color: white;
  border: none;
  border-radius: 4px;
}

.pagination button:disabled {
  cursor: not-allowed;
  opacity: 1;
  background-color: #ccc;
  color: #666;
}

/* Download Section

.download-button:hover {
  background-color: #006699;
}

/* Ensure CSV link inside behaves like a button */
.csv-link {
  color: white;
  text-decoration: none;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.download-button:hover {
  background-color: #006699;
}

.download-button:hover {
  background-color: #006699;
}

/* Reset Button */
.reset-button {
  margin-right: 50px;
  padding: 10px 20px;
  font-size: 14px;
  cursor: pointer;
  background-color: #0083ca;
  color: white;
  border: none;
  border-radius: 4px;
}
