.staff-home-page {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  align-items: center;
}

.staff-home-page h2 {
  position: sticky;
  top: -1px;
  z-index: 2;
  color: #0083ca;
  text-align: center;
  height: 25px;
  cursor: pointer;
  font-weight: 600;
}

.staff-home-page:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../images/login-background-img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.5;
  z-index: -1;
}

/* ////////////////////////////////////////////////// */
/* Calendar Stuff */
/* ////////////////////////////////////////////////// */

.calendar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  padding: 20px;
  border: 0px;
  border-radius: 8px;
  width: 100%;
  max-width: 800px;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.staff-home-div-left-base .react-datepicker {
  border-radius: 12px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border: none;
  padding: 10px;
}

.staff-home-div-left-base .react-datepicker__header {
  background-color: #f6f6f6;
  border-bottom: none;
  border-radius: 12px 12px 0 0;
  padding: 10px 0;
}

.staff-home-div-left-base .react-datepicker__current-month,
.staff-home-div-left-base .react-datepicker__day-name {
  color: #333;
  font-weight: bold;
}

.staff-home-div-left-base .react-datepicker__day--selected {
  background-color: #0672cb;
  color: white !important;
  border-radius: 8px;
}

.staff-home-div-left-base .react-datepicker__day--keyboard-selected {
  background-color: #0672cb;
  color: white;
}

.staff-home-div-left-base .react-datepicker__navigation {
  top: 10px;
}

.staff-home-div-left-base .react-datepicker__navigation-icon::before {
  border-color: #0672cb;
}

.staff-home-div-left-base .react-datepicker__day {
  color: #333;
  font-weight: bold;
  margin: 5px;
}

.staff-home-div-left-base .react-datepicker__day--today {
  border: 1px solid #0672cb;
  border-radius: 8px;
}

.staff-home-div-left-base .react-datepicker__month-container {
  border-radius: 12px;
}

.staff-home-div-left-base .react-datepicker__header,
.staff-home-div-left-base .react-datepicker__current-month {
  background-color: transparent;
  font-size: 18px;
}

.staff-home-div-left-base .react-datepicker__day-name,
.staff-home-div-left-base .react-datepicker__day {
  width: 32px;
  line-height: 32px;
  margin: 0.5px;
  font-size: 16px;
}

.staff-home-div-left-base .react-datepicker__day-name {
  color: #888;
}

.staff-home-div-left-base .react-datepicker__day--outside-month {
  color: #d3d3d3;
}
