@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");

body {
  font-family: "Montserrat", sans-serif;
}

.login-page {
  display: flex;
  justify-content: center;
  align-items: center; /* Vertically center the content */
  height: 100vh; /* Ensure the login page takes up the full viewport height */
  width: 100vw;
  position: relative;
}
.login-page:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 110%;
  background-image: url("../images/login-background-img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.5;
  z-index: -1;
}

.login-div {
  width: 50vw;
  max-width: 475px;
  height: auto;
  min-height: 70vh;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  z-index: 1;
  flex-direction: column;
}

.login-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-form img {
  max-width: 80%;
  height: auto;
  margin-bottom: 10px;
}

.login-card {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.login-button {
  width: 110px;
  height: 110px;
  padding: 30px;
  border-radius: 15px;
  font-size: 14px;
  border-style: solid;
  border-width: 0px;
  border-color: #000; /* Consistent black border */
  background-color: #f8f9fa;
  transition: background-color 500ms, color 500ms;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.login-button img {
  max-width: 100%;
  max-height: 100%;
  height: auto;
  width: auto;
  display: block;
}

@media (max-width: 500px) {
  .login-card {
    flex-direction: column;
  }
  .login-button {
    width: 100%;
    max-width: 100px;
  }
}

.login-button.selected {
  background-color: #0083ca;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.signin_button {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  width: 50%;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #0083ca;
  font-size: 16px;
  padding: 12px;
  transition: background-color 500ms, color 500ms;
  background-color: #0083ca;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.signin_button:hover {
  background-color: #0672cb;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.username,
.password {
  margin-bottom: 20px;
  display: block;
  width: 135%;
  padding: 12px;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  border-color: #0083ca; /* Consistent blue border */
  font-size: 16px;
  text-align: center;
  color: #333;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

.card_footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 10px;
}

.forget_pw {
  margin: 5px;
  font-size: 14px;
  font-weight: normal; /* Ensure consistent font-weight */
  color: #0083ca;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 5px;
}

@media (max-width: 768px) {
  .login-div {
    width: 90vw;
    padding: 15px;
  }

  .signin_button {
    width: 100%;
    font-size: 14px;
  }

  .login-form img {
    width: 60%;
  }
}

@media (max-width: 400px) {
  .login-div {
    width: 95vw;
    height: auto;
    padding: 10px;
  }

  .signin_button {
    width: 100%;
  }

  .username,
  .password {
    font-size: 14px;
    padding: 10px;
  }

  .forget_pw {
    font-size: 10px;
  }
}

.toggle-password-btn {
  right: 10px; /* Adjust based on input padding */
  display: flex;
  align-items: center; /* Vertically center the icon */
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.toggle-password-img {
  width: 20px;
}
