@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");

/* ################################################# */
/* Student Home Page Layout */
/* ################################################# */
.student-home-page {
  width: 100vw;
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  color: #0083ca;
}

.student-home-page:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../images/login-background-img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.4;
  z-index: -1;
}

.page-title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

/* ################################################# */
/* Layout Grid */
/* ################################################# */
.home-grid {
  display: flex;
  justify-content: space-between;
  width: 90%;
  max-width: 1200px;
  gap: 40px;
}

.left-panel,
.right-panel {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.date-time-box {
  width: 280px;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}



.notification-panel,
.right-panel {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.date-time-box h3,
.notification-panel h4,
.right-panel h4 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 20px;
  color: #0083ca;
}

.current-time {
  font-size: 50px;
  color: #333;
  margin: 0;
}

.notification-panel ul,
.events-list {
  list-style-type: none;
  padding-left: 0;
}

.notification-panel li,
.events-list li {
  margin-bottom: 10px;
  font-size: 16px;
  color: #333;
}

/* ################################################# */
/* Weather Widget */
/* ################################################# */
.date-time-row {
  display: flex;
  gap: 20px;
  align-items: stretch;
}

.weather-widget {
  background: #ffffff;
  font-size: 25px;
  padding: 15px 20px;
  border-radius: 10px;
  color: #0083ca;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 12px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  animation: fadeIn 0.5s ease-in-out;
  min-width: 180px;
  max-width: 180px;
}

.weather-widget-icon {
  font-size: 50px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* ################################################# */
/* Responsive Styling */
/* ################################################# */
@media (max-width: 768px) {
  .home-grid {
    flex-direction: column;
    gap: 20px;
  }

  .left-panel,
  .right-panel {
    width: 100%;
  }
}